*{

    margin: 0;
    padding: 0;
    font-family: Monsterrat;
}

body{
    overflow: hidden;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1848%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1849%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L1076.87 0L1440 14.74z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1076.87 0L1440 14.74L1440 56.010000000000005L1020.0699999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1020.0699999999999 0L1440 56.010000000000005L1440 323.45L676.67 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M676.6700000000001 0L1440 323.45L1440 432.52L291.7700000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L583.33 560L0 470.54z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 470.54L583.33 560L679.48 560L0 461.38z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 461.38L679.48 560L863.07 560L0 293.49z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 293.49L863.07 560L1126.0700000000002 560L0 275.5z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1848'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1849'%3e%3cstop stop-color='rgba(3%2c 4%2c 4%2c 1)' offset='0.01'%3e%3c/stop%3e%3cstop stop-color='rgba(209%2c 215%2c 216%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.nav-bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-bar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 30px;
}

.nav-bar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-bar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    margin-left: 200px;
}
.content h1{
    width: 100px;
    font-size: 70px;
    font-family: Montserrat;
    font-weight: bold;
    
}

.content p {
    font-size: 25px;
    line-height: 25px;
    font-family: Montserrat;
    font-weight: bold;
    
}